body {
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 20px;
    color: #00eaff;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.card {
    background: #1e1e1e;
    padding: 20px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00eaff;
}

.card h2 {
    color: #00eaff;
}
